Django>=4.2,<5.0
gunicorn
whitenoise

cloudinary
django-cloudinary-storage

numpy
pillow
opencv-python-headless

torch
torchvision
ultralytics
easyocr

psycopg2-binary
dj-database-url
reportlab

